<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Patient Show Page!</title>
  </head>
  <body>
    <ul>
      <% @patient.appointments.each do |app| %>
        <li>Date of Appointment: <%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - Doctor: <%= app.doctor %></li>
      <% end %>
    </ul>
  </body>
</html>
