<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Patient Show Page!</title>
  </head>
  <body>
    <ul>
      <% @patient.appointments.each do |app| %>

      <% end %>
    </ul>
  </body>
</html>
