<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doctor Show Page</title>
  </head>
  <body>
    <h1><%= @doctor.name %></h1>
    <h2><%= @doctor.department %></h2>
    <% @doctor.appointments.each do |app|%>
      <p><%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= appointment.patient %></p> <br>
    <% end %>
  </body>
</html>
